body {background-color: lightgray;}

h1 {color: green; font:elephant;text-align:center; margin-bottom:1px;}

h4 {color:maroon; font:elephant; text-align:center; margin-top:1px;}

ul{ list-style-type:none;}

.img {height: 35px; width: 35px;}

#main { text-indent:25px; margin:5px; margin-bottom:16px; line-height:2em;}

#heading { background-color: lightsteelblue;}

#edu {line-height:2em; list-style-type: number;}

#res {line-height:2em; list-style-type: number;}

.redtext{color:red;}
